/* 
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
/* header-component {
    width: 100%;
} */

.Imagem_mapa_page_barbearia{
    width: 100vw;
}

.page_barbearia_carrosel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.descricao_page_barberia_destaques{
   margin-bottom: 27px;

}


/*  */
.all_opcoes_page_barbearia{
    display: flex;
    flex-direction: column;
    height: 857px;
    justify-content: space-between;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
}

.opcoes_barbearia_parte_de_escolha_page_barbearias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1114px;
}


.p_barbearia_parte_de_escolha_page_barbearias{
    margin-top: 5px;
    margin-bottom: 5px;
}

.parte_direita_das_opcoes_page_barbearia{
    display: flex;
    flex-direction: column;
    width: 730px;
    height: 241px;
    padding-top: 30px;
    justify-content: space-between;
}

.img_barbearia_parte_de_escolha_page_barbearias{
    width: 350px;
    height: 221px;
}

.escolhas_page_barbearia{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.opcoes_menu_page_barbearia{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Tempo_da_escolha_page_barbearia{
    align-items: end;
    text-align: right
}
/* ---------------- filter --------------- */
.wrapper_filter {
    padding-left: 202px;
    /* left: 0; */
    position: absolute;
}
.filter_option {
    width: 350px;
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 0.5px solid #C2C2C2;
    padding: 0 10px;
}

#filter_button {
    width: 140px;
    height: 30px;
    margin-top: 30px;
    background-color: transparent;
    border: 0.5px solid #C2C2C2;
    cursor: pointer;
}

#btn-container {
    display: none;
    background-color: white;
}

.price_inputs {
    display: flex;
    gap: 20px;
}   
.price_filter {
    width: 60px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    border: 0.5px solid #C2C2C2;
}
.container_options {
    display: flex;
    gap: 30px;
}
.local_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.local_options {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: transparent;
    border: 0.5px solid #C2C2C2;
    border-radius: 5px;
    cursor: pointer;
}