/* - Utilize as classes de fontes e cores para aplicar onde desejar (*Evite usar cores e fontes isoladas no código*). */
/* - Nomes das fontes e cores são os mesmos do figma. */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&family=Roboto+Flex:wght@600&family=Roboto:wght@400;500;700&display=swap');

.font_h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
}

.font_h2 {
    font-family: 'Roboto Flex', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 25px;
}

.font_h2--2 {
    font-family: 'Roboto Flex', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 40px;
}

.font_btn-primaty {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.font_btn-input {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.font_slide-h1 {
    font-family: 'Roboto Flex', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
}

.font_slide-h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.font_slide-descri {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.font_slide-descri--2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.font_slide-price {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.font_link-h1 {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    letter-spacing: 2px;
}

.font_link-h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.font_opc-pay {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.font_filter-title {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
}

.font_filter-h1 {
    font-size: 30px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
}