.display_none {
    display: none;
}

.text_align-rigth {
    text-align: right;
}

.position_relative {
    position: relative;
}

.border{
    border: 1px solid rgba(0, 0, 0, 0.50);
    border-radius: 20px;
}

/* /////////////////////////////////// */
main {
    padding: 50px 0;
}
section {
    margin-top: 40px;
}

.section_map, .map_img {
    width: 356px;
    height: 262px;
    position: relative;
}

.map_address {
    width: 356px;
    height: 56px;
    background: rgba(255, 255, 255, 0.70);   

    position: absolute;
    bottom: 26px;

    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 140px;
}

.map_address>img {
    width: 32px;
    height: 32px;
}

.section_sobre {
    width: 355px;
    height: 138px;
    padding: 0 8px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* .section_servico {
} deletar no css e html caso nao seja usada*/

.table_servico {
    width: 736px;
    height: 336px;
}

.servico_caption  {
    text-align: left;
    margin-bottom: 30px;
}

.servico_body {
    border-top: 1px solid #5A5A5A;
    border-bottom: 1px solid #5A5A5A;
}

.servico_time {
    position: absolute;
    right: 0;
    top: 50px;
}

.section_horario {
    width: 355px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horario_article-horario>table {
    width: 355px;
}

.horario_caption {
    padding: 20px 0 40px 0;
}

.horario_body {
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.horario_tr {
    width: 340px;
    height: 40px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.horario_article-contato {
    width: 300px;
    height: 140px;
    text-align: center;
}

.contato_h2 {
    padding: 30px 0 20px 0;
}

.contato_container {
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contato_container>img {
    width: 18px;
    height: 18px;
}

/* .section_membros { */
/* } */

.member_h2 {
    margin-bottom: 30px;
}

.membro_container {
    width: 852px;
    overflow: hidden;
    display: flex;
    gap: 30px;
}

.container_team {
    min-width: 264px;
    height: 400px;
    border: 0.5px solid rgba(0, 0, 0, 0.50);
    text-align: center;
    padding: 16px 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.team_avatar>img {
    background: gainsboro;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* .section_oferece {
    
} */

.oferece_h2 {
    margin-bottom: 30px;
}

.oferece_container {
    width: 460px;
    height: 150px;
    padding-left: 30px;
    border-radius: 10px;
    border: 0.5px solid #000;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.oferece_container>div {
    width: 220px;
    margin: auto;
    display: flex;
    gap: 12px;
    align-items: center;
}

.oferece_container>div>img {
    width: 24px;
    height: 24px;
}



main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title ."
                        "img map"
                        "img sobre"
                        "servico horario"
                        "membro ."
                        "oferece ."
                        "comentario comentario";
    /* justify-items: center; */
    max-width: 1130px;
    margin: auto;
}

.gg {
    grid-area: title;
}

.section_img-store {
    grid-area: img;
}

.section_map {
    grid-area: map;
}

.section_sobre {
    grid-area: sobre;
}

.section_servico {
    grid-area: servico;
}

.section_horario {
    grid-area: horario;
}

.section_membro {
    grid-area: membro;
}

.section_oferece {
    grid-area: oferece;
}

.section_oferece {
    grid-area: comentario;
}
