.content{
    display: flex;
    gap: 129px;
    justify-content: center;
    align-items: center;
}

.switch{
    display: inline;
    position: relative;
}


.switch input{
    display: none;    
}



.switch_circle{
    display: flex;
    position: absolute;
    gap: 12px;
    margin-top: 330px;
    margin-right: 550px;
    justify-content: center;

}

.switch_circle input{
    display: none;    
}


.bolinha{
    width: 9px;
    height: 9px;
    border-radius: 50px;
    background-color: rgb(131, 130, 130);
    
}

.bolinha_verde{
    background-color: rgb(0, 255, 81);

}

.product_detail{
    display: flex;
    justify-content: center;
    gap: 13px;
    margin-top: 120px;
    width: 444px;
    height: 413px;
}

.product_detail>img{
    height: 25px;
    width: 24px;
}


.botao{
    position: absolute;
    z-index: 1;
    margin-top: 180px;
    cursor: pointer;   
}

.botao_left{
    transform: rotate(180deg);
}

.botao_right{
    right: 0;
}